BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-SIZE: 70%;
    BACKGROUND: #ffffff;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    COLOR: #000000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
DIV#nsbanner
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999999 1px solid;
    POSITION: relative
}
DIV#nstext
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 22px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 5px
}
DIV#bannerrow1
{
    BACKGROUND-COLOR: #99ccff
}
DIV#titlerow
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 22px;
    PADDING-BOTTOM: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #99ccff
}

H1
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.4em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.4em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.4em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H4
{
    MARGIN-TOP: 1em;
    FONT-WEIGHT: bold;
    MARGIN-BOTTOM: 0.4em;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H1
{
    MARGIN-TOP: 0em;
    FONT-SIZE: 120%
}
H2
{
    FONT-SIZE: 130%
}
H3
{
    FONT-SIZE: 115%
}
H4
{
    FONT-SIZE: 100%
}
.dtH1
{
    MARGIN-LEFT: -18px
}
.dtH2
{
    MARGIN-LEFT: -18px
}
.dtH3
{
    MARGIN-LEFT: -18px
}
.dtH4
{
    MARGIN-LEFT: -18px
}
DIV#titlerow H1
{
    MARGIN-BOTTOM: 0.2em
}
P
{
    MARGIN: 0.5em 0em
}
BLOCKQUOTE.dtBlock
{
    MARGIN: 0.5em 1.5em
}
DIV#dtHoverText
{
    COLOR: #000066
}
.normal
{
    MARGIN: 0.5em 0em
}
.fineprint
{
    FONT-SIZE: 90%
}
.indent
{
    MARGIN: 0.5em 1.5em
}
P.label
{
    MARGIN-TOP: 1em
}
P.labelproc
{
    MARGIN-TOP: 1em;
    COLOR: #000066
}
IMG
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none
}
OL
{
    MARGIN: 0.5em 0em 0em 2em
}
UL
{
    MARGIN: 0.5em 0em 0em 2em
}
LI
{
    MARGIN-BOTTOM: 0.5em
}
UL P
{
    MARGIN-LEFT: 0em
}
OL P
{
    MARGIN-LEFT: 0em
}
DL P
{
    MARGIN-LEFT: 0em
}
UL P.label
{
    MARGIN-TOP: 0.5em
}
OL P.label
{
    MARGIN-TOP: 0.5em
}
DL
{
    MARGIN-TOP: 0em;
    PADDING-LEFT: 1px
}
DD
{
    MARGIN-BOTTOM: 0em;
    MARGIN-LEFT: 1.5em
}
DT
{
    MARGIN-TOP: 0.5em
}
PRE
{
    MARGIN-TOP: 0.5em;
    MARGIN-BOTTOM: 0.5em
}
PRE
{
    FONT: 100% Monospace, Courier New, Courier;
    COLOR: #000066
}
CODE
{
    FONT: 100% Monospace, Courier New, Courier;
    COLOR: #000066
}
.code
{
    FONT: 100% Monospace, Courier New, Courier;
    COLOR: #000066
}
PRE B
{
    LETTER-SPACING: 0.1em
}
CODE B
{
    LETTER-SPACING: 0.1em
}
PRE.syntax
{
    BORDER-RIGHT: #999999 1px solid;
    PADDING-RIGHT: 8px;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 8px;
    BACKGROUND: #cccccc;
    MARGIN-BOTTOM: 1em;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #999999 1px solid;
    CURSOR: text;
    COLOR: #000000;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999999 1px solid
}
A:link
{
    COLOR: #0000ff
}
A:visited
{
    COLOR: #0000ff
}
A:hover
{
    COLOR: #3366ff
}
DIV.tablediv
{
    MARGIN-TOP: -0.4em;
    WIDTH: 100%
}
OL DIV.tablediv
{
    MARGIN-TOP: 0em
}
UL DIV.tablediv
{
    MARGIN-TOP: 0em
}
OL DIV.HxLinkTable
{
    MARGIN-TOP: 0em
}
UL DIV.HxLinkTable
{
    MARGIN-TOP: 0em
}
TABLE.dtTABLE
{
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #999999 1px solid;
    MARGIN-TOP: 0.6em;
    FONT-SIZE: 100%;
    MARGIN-BOTTOM: 0.3em;
    BORDER-LEFT: #999999 0px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #999999 0px solid;
    BACKGROUND-COLOR: #999999
}
TABLE.dtTABLE TH
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #999999 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999999 1px solid;
    TEXT-ALIGN: left
}
TABLE.dtTABLE TD
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 6px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 4px;
    BORDER-LEFT: #999999 1px solid;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999999 1px solid;
    TEXT-ALIGN: left
}
TABLE.dtTABLE TH
{
    BACKGROUND: #cccccc;
    VERTICAL-ALIGN: bottom
}
TABLE.dtTABLE TD
{
    BACKGROUND: #ffffff;
    VERTICAL-ALIGN: top
}
DIV.footer
{
    FONT-STYLE: italic
}
DIV.footer HR
{
    COLOR: #999999;
    HEIGHT: 1px
}
TABLE.bannerparthead
{
    BORDER-RIGHT: 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px solid;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px solid;
    POSITION: relative;
    TOP: 0px;
    BORDER-COLLAPSE: collapse;
    HEIGHT: 21px;
    BACKGROUND-COLOR: #99ccff
}
TABLE.bannertitle
{
    BORDER-RIGHT: 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: 0px solid;
    PADDING-LEFT: 0px;
    FONT-SIZE: 100%;
    LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: 0px solid;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: 0px solid;
    POSITION: relative;
    TOP: 0px;
    BORDER-COLLAPSE: collapse;
    HEIGHT: 21px;
    BACKGROUND-COLOR: #99ccff
}
TABLE.bannerparthead TD
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 4px;
    FONT-WEIGHT: normal;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #999999 0px solid;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #999999 0px solid;
    FONT-STYLE: italic
}
TABLE.bannerparthead TD.product
{
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: right
}
TABLE.bannertitle TD
{
    BORDER-RIGHT: #999999 0px solid;
    PADDING-RIGHT: 0px;
    BORDER-TOP: #999999 0px solid;
    PADDING-LEFT: 3px;
    FONT-WEIGHT: bold;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-LEFT: #999999 0px solid;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #999999 1px solid
}
TD.button
{
    WIDTH: 14px;
    CURSOR: hand
}